---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import WhyBloq from '@components/WhyBloq.astro';
import Services from '@components/Services.astro';
import Articles from '@components/Articles.astro';
import Clients from '@components/Clients.astro';
import ContactForm from '@components/ContactForm.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <WhyBloq />
    <Services />
    <Articles />
    <Clients />
    <ContactForm />
  </main>
  <Footer />
</Layout>
